#name{
    position: absolute;
    top: 15px;
    left: 100px;
    font-family: Arial;
} 

#img_user{
    top: 0px;
    position: absolute;
} 

#line{
    position: relative;
    top: 40px;
    border-style: solid;
    margin: -8px;
    color: lightslategray;
}

#line_two{
    position: relative;
    top: 80px;
    border-style: solid;
    margin: -8px;
    color: lightslategray;
}

#menu_bar a{
    font-weight: 900;
    font: 18x bold;
    color: rgb(27, 129, 247);
    padding: 15px;
    text-align: center;
}

#menu_bar{
    position: relative;
    padding: 5px;
    top: 25px;
    text-align: right;
}

#sobre{
    position: relative;
    top: 55px;
    left: 20px;
    font-family: Arial;
}

#rodape{
    background-color: gray;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: -8px;
}